# Youtube Video Title Predictor for Dhruv Rathee
A **Machine Learning** `Model` to Predict Title of Youtube Videos of Specifically Dhruv Rathee With Input of `Description` and `No. of Views`.

## Fetch The Data

In [1]:
from fetch_data import fetch
fetch()

## Vectorize The Data

In [2]:
from vectorize_data import vectorize_video_text
vectorize_video_text()

## Load The Data

In [3]:
import pandas as pd
videos = pd.read_csv("vectorized_dhruv_rathee_videos.csv")
videos.head()

,Unnamed: 0,Title,Description,Views,Likes
0,0,[[0.40824829 0.40824829 0.40824829 0.40824829 ...,[[0.0298275 0.0298275 0.0298275 0.0298275 ...,2872257,155437
1,1,[[0.37796447 0.37796447 0.37796447 0.37796447 ...,[[0.03286204 0.03286204 0.06572408 0.03286204 ...,5362716,308419
2,2,[[0.37796447 0.37796447 0.37796447 0.37796447 ...,[[0.03041495 0.03041495 0.03041495 0.03041495 ...,3954793,193913
3,3,[[0.37796447 0.37796447 0.37796447 0.37796447 ...,[[0.0302337 0.0302337 0.0302337 0.0302337 ...,3264829,131085
4,4,[[0.33333333 0.33333333 0.33333333 0.33333333 ...,[[0.03187884 0.06375767 0.03187884 0.06375767 ...,3633006,158043