# Youtube Video Title Predictor for Dhruv Rathee
A **Machine Learning** `Model` to Predict Title of Youtube Videos of Specifically Dhruv Rathee With Input of `Description` and `No. of Views`.

## Fetch The Data

In [1]:
from fetch_data import fetch
fetch()

## Vectorize The Data

In [2]:
from vectorize_data import vectorize_video_text
vectorize_video_text()

## Load The Data

In [3]:
import pandas as pd
videos = pd.read_csv("vectorized_dhruv_rathee_videos.csv")
videos.head()

,Unnamed: 0,Title,Description,Views,Likes
0,0,[[0.33333333 0.33333333 0.33333333 0.33333333 ...,[[0.02941176 0.02941176 0.02941176 0.05882353 ...,2698124,142749
1,1,[[0.40824829 0.40824829 0.40824829 0.40824829 ...,[[0.0298275 0.0298275 0.0298275 0.0298275 ...,3292969,167205
2,2,[[0.37796447 0.37796447 0.37796447 0.37796447 ...,[[0.03286204 0.03286204 0.03286204 0.06572408 ...,5875483,327723
3,3,[[0.37796447 0.37796447 0.37796447 0.37796447 ...,[[0.03041495 0.03041495 0.03041495 0.03041495 ...,4132736,197915
4,4,[[0.37796447 0.37796447 0.37796447 0.37796447 ...,[[0.0302337 0.0302337 0.0302337 0.0302337 ...,3295082,131868

## Info of the DataSet

In [4]:
videos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   371 non-null    int64
 1   Title        371 non-null    object
 2   Description  371 non-null    object
 3   Views        371 non-null    int64
 4   Likes        371 non-null    int64
dtypes: int64(3), object(2)
memory usage: 14.6+ KB

In [5]:
videos.describe()

       Unnamed: 0         Views          Likes
count  371.000000  3.710000e+02     371.000000
mean   185.000000  3.327409e+06  183284.498652
std    107.242715  2.366164e+06  113654.028788
min      0.000000  5.455300e+04    1424.000000
25%     92.500000  1.601772e+06  100536.000000
50%    185.000000  2.816905e+06  165065.000000
75%    277.500000  4.581421e+06  239440.000000
max    370.000000  1.286164e+07  718609.000000

## Split Input and Output from the DataSet

In [6]:
# Split the 'Title' column into a separate variable 'X'
X = videos['Title']

# Store the remaining columns in 'Y'
Y = videos.drop('Title', axis=1)

In [7]:
X.head()

0    [[0.33333333 0.33333333 0.33333333 0.33333333 ...
1    [[0.40824829 0.40824829 0.40824829 0.40824829 ...
2    [[0.37796447 0.37796447 0.37796447 0.37796447 ...
3    [[0.37796447 0.37796447 0.37796447 0.37796447 ...
4    [[0.37796447 0.37796447 0.37796447 0.37796447 ...
Name: Title, dtype: object

In [8]:
Y.head()

,Unnamed: 0,Description,Views,Likes
0,0,[[0.02941176 0.02941176 0.02941176 0.05882353 ...,2698124,142749
1,1,[[0.0298275 0.0298275 0.0298275 0.0298275 ...,3292969,167205
2,2,[[0.03286204 0.03286204 0.03286204 0.06572408 ...,5875483,327723
3,3,[[0.03041495 0.03041495 0.03041495 0.03041495 ...,4132736,197915
4,4,[[0.0302337 0.0302337 0.0302337 0.0302337 ...,3295082,131868